.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

.product {
  width: 40%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding-bottom: 5px;
}
.product > h4 {
  width: 80%;
}

.image {
  width: 50%;
  height: 50%;
}
.image:hover {
  width: 55%;
  height: 55%;
}

/* .image, .product-title, .product-price{

} */

.btn-description {
  width: 17vw;
  height: 5vh;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 1.7vw;
}

.btn-description:hover {
  cursor: pointer;
  background-color: lightgrey;
}

@media (max-width: 395px) {
  .product {
    width: 80%;
  }
}
