body {
  margin: 0;
  padding: 0;
}
.header {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c99ac;
  color: white;
}
.link {
  all: unset;
}

.branding {
  padding-left: 2rem;
}
.branding:hover {
  cursor: pointer;
  color: lightgrey;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2vw;
  margin: 0;
}

.navbar > ul > li:hover {
  cursor: pointer;
  color: lightgrey;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
li {
  width: 10vw;
}

.cart-container {
  display: flex;
  justify-content: space-around;
  width: 10vw;
  margin-right: 2rem;
}

.cart-container > div :hover {
  cursor: pointer;
  color: lightgrey;
  transform: scale(1.4);
  transition: all 0.3s ease-in-out;
}
.dropdown {
  display: none;
}
@media (max-width: 625px) {
  .dropdown {
    order: 2;
    margin-right: 2rem;
  }
  .navbar {
    display: none;
  }
  .cart-container {
    display: none;
  }
  /* Dropdown menu  */
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}
