.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #7c99ac;
  color: white;
}

.footer > div {
  width: 200px;
}

.footer-product,
.about,
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-product > h4,
.about > h4,
.resources > h4 {
  margin-left: -2rem;
}
li {
  list-style-type: none;
}
